.categoryPage .sliderBox{
  position:relative;margin-bottom:30px;padding:0 30px;
}
.categoryPage .sliderBox .item a img{
  height:70px;  
}
.categoryPage .sliderBox .item{text-align:center;}
.categoryPage .sliderBox .item a span{
  display:block;
}
.categoryPage .sliderBox .owl2-nav .owl2-prev, .categoryPage .sliderBox .owl2-nav .owl2-next{
  position: absolute;
  font-size:0;top: 50%;transform:translateY(-50%);
  color: #000;
}

.categoryPage .sliderBox .owl2-nav .owl2-prev:hover, .categoryPage .sliderBox .owl2-nav .owl2-next:hover{
  color: #ff2d37;
}
.categoryPage .sliderBox .owl2-nav .owl2-prev.disabled, .categoryPage .sliderBox .owl2-nav .owl2-next.disabled,
 .categoryPage .sliderBox .owl2-nav .owl2-next span, .categoryPage .sliderBox .owl2-nav .owl2-prev span{
    display:none;
}
.categoryPage .sliderBox .owl2-nav .owl2-prev{left:-30px;}
.categoryPage .sliderBox .owl2-nav .owl2-prev:after{
   font-family: 'FontAwesome';
   content: "\f104";font-size:30px;
}

.categoryPage .sliderBox .owl2-nav .owl2-next{right: -30px;}
.categoryPage .sliderBox .owl2-nav .owl2-next:after{
   font-family: 'FontAwesome';
   content: "\f105";font-size:30px;
}